.year-filter {
  color: blue;
  padding: 0 1rem;
}

.year-filter__control {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  margin: auto;
}

.year-filter label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 7px 0px 0px 0px;
}

.year-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
